In [1]:
from PIL import Image
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
img_compl = Image.open('San Pedro - Misiones 1.jpg')

# DF con los datos de los pixels cercanos (d=1)

In [3]:
d_img_compl = 1
pixel_list_9 = []            # lista donde se recopilan los datos del pixel y vecinos

for yy in range(0, img_compl.size[1],1):                  # se itera sobre filas y columnas    
        for xx in range(0, img_compl.size[0], 1):
            pixel_fila = []                           # lista donde se recopilan los datos de cada ventana
            pixel_pos = img_compl.getpixel(xy=(xx,yy))      # se indexa el pixel centrtal
            pixel_fila += pixel_pos                   # se colocan los datos en la lista
            
            for d1 in range(-d_img_compl, (d_img_compl+1), 1):                   # se itera sobre filas y columnas alrededor del pixel central 
                for d2 in range(-d_img_compl, (d_img_compl+1), 1):
                    if (d1 != 0) or (d2 != 0):                                              # se excluye el pixel central          
                        if (0 <xx+d1< img_compl.size[0]) and (0 <yy+d2< img_compl.size[1]):       # se limita al rango de la imagen         
                            pixel_around = img_compl.getpixel(xy=(xx+d1,yy+d2))       # se indexan los valores de los pixeles
                            pixel_fila += pixel_around                          # se adjuntan a la lista parcial

            #pixel_list_9.append(pixel_fila)        # se adjunta la fila a la lista general
            a = list(range(0,len(pixel_fila),3))
            b = list(np.array(a) + 1)
            c = list(np.array(a) + 2)
            
            # se separa la lista por color y transforma en array para poder aplicar los métodos de numpy
            pixel_fila_R = np.array(pixel_fila)[a]
            pixel_fila_G = np.array(pixel_fila)[b]
            pixel_fila_B = np.array(pixel_fila)[c]
                     
            listaRGB = []
            # se adjunta a lista la media y desvío de cada color
            listaRGB += (pixel_fila_R[0],pixel_fila_R.mean(), pixel_fila_R.std())        
            listaRGB += (pixel_fila_G[0],pixel_fila_G.mean(), pixel_fila_G.std())   
            listaRGB += (pixel_fila_B[0],pixel_fila_B.mean(), pixel_fila_B.std())  
            
            pixel_list_9.append(listaRGB)

In [4]:
df_com_9 = pd.DataFrame(pixel_list_9)
df_com_9.head()

,0,1,2,3,4,5,6,7,8
0,27,33.00,6.000000,51,57.500000,6.500000,61,66.000000,5.000000
1,39,39.00,0.000000,66,65.333333,0.942809,75,73.666667,1.885618
2,38,45.25,11.409974,68,73.000000,12.206556,76,81.000000,12.267844
3,64,63.75,16.990806,97,93.500000,18.172782,104,101.500000,17.755281
4,74,78.25,9.310612,109,110.000000,10.074721,115,117.250000,9.908961

In [5]:
df_com_9.columns = ['R', 'R9mean', 'R9std', 'G', 'G9mean', 'G9std', 'B', 'B9mean', 'B9std']
df_com_9.head()

,R,R9mean,R9std,G,G9mean,G9std,B,B9mean,B9std
0,27,33.00,6.000000,51,57.500000,6.500000,61,66.000000,5.000000
1,39,39.00,0.000000,66,65.333333,0.942809,75,73.666667,1.885618
2,38,45.25,11.409974,68,73.000000,12.206556,76,81.000000,12.267844
3,64,63.75,16.990806,97,93.500000,18.172782,104,101.500000,17.755281
4,74,78.25,9.310612,109,110.000000,10.074721,115,117.250000,9.908961

In [6]:
df_com_9 = df_com_9.loc[:,['R', 'G', 'B', 'R9mean', 'G9mean', 'B9mean', 'R9std', 'G9std', 'B9std']]
df_com_9.head()

,R,G,B,R9mean,G9mean,B9mean,R9std,G9std,B9std
0,27,51,61,33.00,57.500000,66.000000,6.000000,6.500000,5.000000
1,39,66,75,39.00,65.333333,73.666667,0.000000,0.942809,1.885618
2,38,68,76,45.25,73.000000,81.000000,11.409974,12.206556,12.267844
3,64,97,104,63.75,93.500000,101.500000,16.990806,18.172782,17.755281
4,74,109,115,78.25,110.000000,117.250000,9.310612,10.074721,9.908961

In [7]:
df_com_9.to_csv('DF_img_completa_9_2.csv', sep=',', encoding='utf-8', index=True)

# DF con los datos de los 4 pixels cercanos (d=4, 9x9)

In [3]:
d_img_compl = 4
pixel_list_81 = []   # lista donde se recopilan los datos del pixel y vecinos

for yy in range(0, img_compl.size[1],1):                  # se itera sobre filas y columnas         
        for xx in range(0, img_compl.size[0], 1):
            pixel_fila2 = []                           # lista donde se recopilan los datos de cada ventana
            pixel_pos = img_compl.getpixel(xy=(xx,yy))      # se indexa el pixel centrtal
            pixel_fila2 += pixel_pos                   # se colocan los datos en la lista
            
            for d1 in range(-d_img_compl, (d_img_compl+1), 1):                   # se itera sobre filas y columnas alrededor del pixel central 
                for d2 in range(-d_img_compl, (d_img_compl+1), 1):
                    if (d1 != 0) or (d2 != 0):                                          # se excluye el pixel central
                        if (0 <xx+d1< img_compl.size[0]) and (0 <yy+d2< img_compl.size[1]):   # se limita al rango de la imagen           
                            pixel_around = img_compl.getpixel(xy=(xx+d1,yy+d2))       # se indexan los valores de los pixeles
                            pixel_fila2 += pixel_around                          # se adjuntan a la lista parcial
            
            a = list(range(0,len(pixel_fila2),3))
            b = list(np.array(a) + 1)
            c = list(np.array(a) + 2)
            
            # se separa la lista por color y transforma en array para poder aplicar los métodos de numpy
            pixel_fila2_R = np.array(pixel_fila2)[a]
            pixel_fila2_G = np.array(pixel_fila2)[b]
            pixel_fila2_B = np.array(pixel_fila2)[c]
                     
            listaRGB = []
            # se adjunta a lista la media y desvío de cada color
            listaRGB += (pixel_fila2_R.mean(), pixel_fila2_R.std())        
            listaRGB += (pixel_fila2_G.mean(), pixel_fila2_G.std())   
            listaRGB += (pixel_fila2_B.mean(), pixel_fila2_B.std())  
            
            pixel_list_81.append(listaRGB)

In [4]:
df_com_81 = pd.DataFrame(pixel_list_81)
df_com_81.head()

           0          1          2          3           4          5
0  56.823529  17.886029  80.882353  19.908267   89.176471  19.333711
1  63.523810  19.614424  89.000000  22.616892   96.904762  21.836851
2  66.800000  19.626513  93.680000  23.190895  101.360000  22.415852
3  68.344828  18.099868  96.586207  21.953740  104.000000  21.151343
4  67.969697  17.542131  97.575758  21.124494  104.666667  20.324141

In [5]:
df_com_81.columns = ['R81mean', 'R81std', 'G81mean', 'G81std', 'B81mean', 'B81std']
df_com_81.head()

     R81mean     R81std    G81mean     G81std     B81mean     B81std
0  56.823529  17.886029  80.882353  19.908267   89.176471  19.333711
1  63.523810  19.614424  89.000000  22.616892   96.904762  21.836851
2  66.800000  19.626513  93.680000  23.190895  101.360000  22.415852
3  68.344828  18.099868  96.586207  21.953740  104.000000  21.151343
4  67.969697  17.542131  97.575758  21.124494  104.666667  20.324141

In [6]:
df_com_81 = df_com_81.loc[:,['R81mean', 'G81mean', 'B81mean', 'R81std', 'G81std', 'B81std']]
df_com_81.head()

     R81mean    G81mean     B81mean     R81std     G81std     B81std
0  56.823529  80.882353   89.176471  17.886029  19.908267  19.333711
1  63.523810  89.000000   96.904762  19.614424  22.616892  21.836851
2  66.800000  93.680000  101.360000  19.626513  23.190895  22.415852
3  68.344828  96.586207  104.000000  18.099868  21.953740  21.151343
4  67.969697  97.575758  104.666667  17.542131  21.124494  20.324141

In [7]:
df_com_81.to_csv('DF_img_completa_81_2.csv', sep=',', encoding='utf-8', index=True)

## Merge

In [8]:
df1 = pd.read_csv('DF_img_completa_9_2.csv', sep=',', encoding='utf-8')

In [9]:
df1 = df1.iloc[:,1:]
df1.head()

,R,G,B,R9mean,G9mean,B9mean,R9std,G9std,B9std
0,27,51,61,33.00,57.500000,66.000000,6.000000,6.500000,5.000000
1,39,66,75,39.00,65.333333,73.666667,0.000000,0.942809,1.885618
2,38,68,76,45.25,73.000000,81.000000,11.409974,12.206556,12.267844
3,64,97,104,63.75,93.500000,101.500000,16.990806,18.172782,17.755281
4,74,109,115,78.25,110.000000,117.250000,9.310612,10.074721,9.908961

In [10]:
len(df_com_81) == len(df1)

True

In [11]:
df_imgcomp_981 = pd.merge(df1, df_com_81, left_index=True, right_index=True, how='left')
df_imgcomp_981.head()

,R,G,B,R9mean,G9mean,B9mean,R9std,G9std,B9std,R81mean,G81mean,B81mean,R81std,G81std,B81std
0,27,51,61,33.00,57.500000,66.000000,6.000000,6.500000,5.000000,56.823529,80.882353,89.176471,17.886029,19.908267,19.333711
1,39,66,75,39.00,65.333333,73.666667,0.000000,0.942809,1.885618,63.523810,89.000000,96.904762,19.614424,22.616892,21.836851
2,38,68,76,45.25,73.000000,81.000000,11.409974,12.206556,12.267844,66.800000,93.680000,101.360000,19.626513,23.190895,22.415852
3,64,97,104,63.75,93.500000,101.500000,16.990806,18.172782,17.755281,68.344828,96.586207,104.000000,18.099868,21.953740,21.151343
4,74,109,115,78.25,110.000000,117.250000,9.310612,10.074721,9.908961,67.969697,97.575758,104.666667,17.542131,21.124494,20.324141

In [12]:
len(df_imgcomp_981)

8294400

In [13]:
df_imgcomp_981.to_csv('DF_img_completa_981_2.csv', sep=',', encoding='utf-8', index=True)

In [14]:
df_imgcomp_981.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8294400 entries, 0 to 8294399
Data columns (total 15 columns):
R          int64
G          int64
B          int64
R9mean     float64
G9mean     float64
B9mean     float64
R9std      float64
G9std      float64
B9std      float64
R81mean    float64
G81mean    float64
B81mean    float64
R81std     float64
G81std     float64
B81std     float64
dtypes: float64(12), int64(3)
memory usage: 949.2 MB